*, *:before, *:after, ul, li, a, button, input, h1, h2, h3, h4, h5, h6, p, img, image, svg, path, g {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Roboto';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: 'Roboto';
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
  background: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

h1 {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 900;
  font-size: 5em;
}

h2 {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 50px;
  margin-top: -10px;
}

#player {
  position: relative;
  z-index: 2;
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#player img {
  position: absolute;
  left: 15px;
  top: -25px;
  border-radius: 10px;
}
#player .player-song {
  width: 370px;
  height: 100%;
  margin-left: 230px;
}
#player .player-song .title {
  color: #333;
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
}
#player .player-song .artist {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
#player .player-song .timestamps {
  width: calc(100% - 15px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
#player .player-song .actions {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#player .player-song .actions .next, #player .player-song .actions .prev {
  cursor: pointer;
}
#player .player-song .actions i {
  font-size: 32px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
    color: #000000;
  -webkit-transition: .1s;
  transition: .1s;
}
#player .player-song .actions i:hover {
  color: #888888;
  -webkit-transition: .1s;
  transition: .1s;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: calc(100% - 15px);
  height: 6px;
  border-radius: 50px;
  margin-top: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
}

progress[value]::-webkit-progress-value {
  border-radius: 50px;
  background-color: #333DDD;
}

.play-button {
  height: 16px;
  width: 16px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.play-button:hover .left, .play-button:hover .right {
  background-color: #888888;
}

.left {
  height: 100%;
  float: left;
  background-color: #bbbbbb;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

.triangle-1 {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.triangle-2 {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.99);
  width: 0;
  height: 0;
  border-right: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #bbbbbb;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.paused .left {
  width: 50%;
}

.paused .right {
  width: 50%;
}

.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.text{
font-size: 15px;
}





.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }



audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
#plList { margin:0;list-style-type: none; }
#plList li { background-color:#231F20; cursor:pointer; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative;    color: #fff; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap;    color: #fff; }
.plNum { padding-left:21px; width:25px;     color: #fff; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }
