.loader {
  background: none repeat scroll 0 0 #223344;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
.loader .loader_inner {
    background-image: url("../preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #223344;
    height: 460px;
    width: 460px;
    margin-top: -190px;
    margin-left: -245px;
    left: 50%;
    top: 50%;
    position: absolute; 
}